html, body{
    margin:0;
    padding:0;
    font-size:62.5%;
    width:100%;
    height:100%;
}

body{
    margin:0;
    padding:0;
    width:100%;
    height: 100%;
    text-align: center;
}

header{
    margin:0;
    padding:0;
    width:100%;
    height: 10rem;
}

header nav{
    height: 100%;
    width:70%;
    margin:0 auto;
    display:block;
}

header nav ul{
    list-style: none;
    padding:0;
    display: inline-block; 
    margin:0 auto;
    width:100%;
    height:100%;
}

header nav ul li{
    font-size: 1.4rem;
    display:inline-block;
    height:40%;
    margin:0;
    padding:0;
}

#icon{
    display:inline-block;
}
header nav ul li:nth-child(1){
    width:20%;
    position: relative;
    top:3.2rem;
}
header nav ul li:nth-child(2){
    width:9%;
}
header nav ul li:nth-child(3){
    width:10%;
}
header nav ul li:nth-child(4){
    width:12%;
}
header nav ul li:nth-child(5){
    width:9%;
}
header nav ul li:nth-child(6){
    width:7%;
}
header nav ul li:nth-child(7){
    width:9%;
}

header nav ul li a{
    text-decoration: none;
    color:black;
    text-transform: uppercase;
    position: relative;
    top:1.3rem;
}
header nav ul li a:hover{
    color:#7A1501;
}

main{
    display: inline-block;
    margin:0;
    padding:0;
    width:70%;
    height: auto;
}

main img{
    width:auto;
    float:left;
    position:relative;
    top:1px;
    
}

main div{
    font-size: 2.4rem;
    position:relative;
    top:7rem;
    width:100%;
    height:8rem;
}

main div p{
    margin:0;
    text-align: right;
    text-transform: uppercase;
    font-weight: 700;
    display: block;
    float:right;
}

#signup{
    background-color:#F9DA0C;
    height:5rem;
    width:9rem;
    position: absolute;
    top:5.6rem;
    font-size:1.7rem;
    transform: translateX(50rem);
}
#signup a{
    position:relative;
    top: 1.5rem;
    right:1rem;
    text-decoration: none;
    color:#7A1501;
    display:inline-block;
}

footer{
    background-color:#7A1501;
    display: block;
    margin:0 auto;
    text-align: center;
    color:white;
    height:80rem;
}

#info{
    display: inline-block;
    height:90%;
    margin:0 auto;
    width:70%;
}
#info div{
    height:40%;
    width:50%;
    display: inline-block;
    float: left;
    margin:0 auto;
    margin-top:3rem;
}
p{
    margin:0;
    padding:0;
    text-align: left;
}
#info div p{
    font-size: 1.8rem;
    width:80%;
    display: inline-block;
    line-height: 2.5rem;
}

.subheadings{
    font-weight: 700;
    margin:10px 0 10px 0;
}
.line_height{
    padding: 1rem;
}

#last_line{
    display:block;
    margin:0 auto;
    width:100%;
    height:8rem;
    background-color:#F9DA0C;
}

#last_line a{
    text-decoration: none;
    color:#7A1501;
    font-size:2rem;
    text-transform: uppercase;
    display: inline-block;
    height:100%;
    width:100%;
    
}
#last_line a p{
    height: auto;
    width:auto;    
    display: inline-block;
    text-align: center;
    position:relative;
    top:3rem;
}


/* start of media query */

