html, body{
    margin:0;
    padding:0;
    font-size:62.5%;
    width:100%;
    height:100%;
}

body{
    margin:0;
    padding:0;
    width:100%;
    height: 100%;
    text-align: center;
}
 
/* start about page */

header{
    margin:0;
    padding:0;
    width:100%;
    height: 10rem;
}

header nav{
    height: 100%;
    width:87rem;
    margin:0 auto;
    display:block;
}

header nav ul{
    list-style: none;
    padding:0;
    display: inline-block; 
    margin:0 auto;
    width:100%;
    height:100%;
}

.icon_div{
    display: inline-block;
    float:left;
    height: 100%;
    width:19%;
    position: relative;
    top:1rem;
}
.nav_div{
    height: 100%;
    width:60%;
    display: inline-block;
    float: right;
    font-weight: 600;
}

.nav_div li{
    font-size: 1.4rem;
    display:inline-block;
    height:40%;
    margin:0;
    padding:0;    
}

#icon{
    display:inline-block;
    float: left;
}
header nav ul li:nth-child(1){
    width:13%;
}
header nav ul li:nth-child(2){
    width:15%;
}
header nav ul li:nth-child(3){
    width:20%;
}
header nav ul li:nth-child(4){
    width:15%;
}
header nav ul li:nth-child(5){
    width:13%;
}
header nav ul li:nth-child(6){
    width:17%;
}

header nav ul li a{
    text-decoration: none;
    color:black;
    text-transform: uppercase;
    font-family: sans-serif;
    display: block;
    height:100%;
    width:100%;
}
header nav ul li a span{
    display: block;
    height:auto;
    width:100%;
    position: relative;
    top:1.3rem;
}
header nav ul li span:hover{
    color:#7A1501;
}
.vertical_align{
    position: relative;
    top:1.3rem;
    
}
.active{
    color:#7A1501;
}

main{
    display: block;
    margin:0 auto;
    padding:0;
    width:100%;
    height: auto;
}
.about_image{
    width:auto;
    float:left;
    position:relative;
    top:1px;
}

#main_div{
    display:inline-block;
    width:90rem;
    height:15rem;
    
}

main div div:nth-child(2){
    font-size: 2.4rem;
    width:40rem;
    height:8rem;
    margin:0 auto;
    display:inline-block;
    float:right;
    position:relative;
    top:7rem;
}

main div p{
    margin:0;
    text-align: right;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    float:right;
    width:100%;
}

#dropdown{
    display: none;
}

#bars{
    display: none;
}

.about_footer{
    background-color:#7A1501;
    display: block;
    margin:0 auto;
    text-align: center;
    color:white;
    height:auto;
}



.info{
    display: inline-block;
    height:90%;
    margin:0 auto;
    width:90rem;
}

.signup{
    position: relative;
    top:-2rem;
    font-size:1.7rem;
    text-align: center;
    height:4rem;
    
}
.signup a{
    background-color:#F9DA0C;
    right:1rem;
    text-decoration: none;
    color:#7A1501;
    display:inline-block;
    width:8rem;
    height: 100%;
    position:relative;
    left:5rem;
}

.signup a span{
    position:relative;
    top:.5rem;
    text-transform: uppercase;
}

.info_div{
    height:40%;
    width:50%;
    display: inline-block;
    float: left;
    margin:0 auto;
    margin-top:3rem;
}

p{
    margin:0;
    padding:0;
    text-align: left;
}
.info div p{
    font-size: 1.8rem;
    width:90%;
    display: inline-block;
    line-height: 2.5rem;
}

.subheadings{
    font-weight: 700;
    margin:10px 0 10px 0;
}
.line_height{
    padding: 1rem;
}

#last_line{
    display:block;
    margin:0 auto;
    width:100%;
    height:8rem;
    background-color:#F9DA0C;
}

#last_line a{
    text-decoration: none;
    color:#7A1501;
    font-size:1.5rem;
    text-transform: uppercase;
    display: inline-block;
    height:100%;
    width:100%;
    
}
#last_line a p{
    height: auto;
    width:auto;    
    display: inline-block;
    text-align: center;
    position:relative;
    top:3rem;
}


/* start of media query for about page */

@media only screen and (max-width:930px){
    
    header{
        height:auto;
    }

    header nav{
        height: auto;
        width:100%;
    } 
    
.nav_div{
    height: 40rem;
    width:100%;
    font-weight: 600;
    position:relative;
    top:0rem;
}

.nav_div li{
    font-size: 1.5rem;
}

    
.nav_div li:nth-child(1){
    width:100%;
    height:calc(100%/7);
    border-top: 1px solid lightgrey;
}
.nav_div li:nth-child(2){
    width:100%;
    height:calc(100%/7)
}
.nav_div li:nth-child(3){
    width:100%;
    height:calc(100%/7)
}
.nav_div li:nth-child(4){
    width:100%;
    height:calc(100%/7)
}
.nav_div li:nth-child(5){
    width:100%;
    height:calc(100%/7)
}
.nav_div li:nth-child(6){
    width:100%;
    height:calc(100%/7);
}

header nav ul li a span{
    position: relative;
    top:2rem;
}
    
    .nav_div{
        display: none;
    }
    
    .display_none{
        display: none;
    }
    label{
        display: block;
        margin:0 auto;
        height:15rem;
        width:50%;
        float: right;
    }
    #bars{
        display: inline-block;
        width:5rem;
        float: right;
        border:1px solid lightgrey;
        opacity:.5;
        margin:0 1rem 0 0;
        border-radius:5px;
        transform: translateY(7rem);
    }
    
    #bars:hover{
        background-color:grey;
    }
    input:checked + .nav_div{
        display: block;
    }
    
    #icon_image{
        position: relative;
        top:2rem;
        left:1rem;
    }
    
    #about_main{
        display: none;
}

    /* footer section. what, how, why, and details content */
    
    
footer{
    height:auto;
}

.info{
    height:90%;
    width:90%;
}

.signup{
    position: relative;
    top:-2rem;
    font-size:1.7rem;
    text-align: center;
    height:4rem;    
}
.signup a{
    width:10rem;
    height: 100%;
}

.signup a span{
    position:relative;
    top:1rem;
}

.info_div{
    height:auto;
    width:100%;
    margin-top:2rem;
}
    
.info div p{
    font-size: 1.7rem;
    line-height: 2rem;
}
    
    /* bottom of footer, last line */
   
#last_line{
    width:100%;
    height:7rem;
}

#last_line a{
    height:100%;
    width:100%;
    
}
 

}
/* end media query for about page */
/* end about page */



/* begin cohort page */



.cohort_main{
    height:10rem;
}

.cohort_position{
    position: relative;
    top:-3rem;
}

.content{
    text-transform:none; 
    font-size:1.7rem;
    text-align: left;
    line-height:2.5rem;
    width:98%;
    display:inline-block;
    margin-bottom:1.5rem;
}

.cohort_div{
    width:100rem;
    height:auto;
}

.cohort_label{
    display:inline-block;
    width:100rem;
    height:5rem;
    font-size:2rem;
    text-align: left;
    background-color:#F9DA0C
}
.cohort_label span{
    position:relative;
    top:1rem;
    left:1rem;
}
#this_year_cohorts{
    display: none;
}
#cohort_input{
    display:none;
}

#cohort_input:checked + #this_year_cohorts{
    display:block;
}
 /* second label and input*/



.cohort_label2{
    display:inline-block;
    width:100rem;
    height:5rem;
    font-size:2rem;
    text-align: left;
    background-color:#F9DA0C;
    margin-top:1rem;
}
.cohort_label2 span{
    position:relative;
    top:1rem;
    left:1rem;
}
.this_year_cohorts2{
    display: none;
}
#cohort_input2{
    display:none;
}

#cohort_input2:checked + .this_year_cohorts2{
    display:block;
}

#cohort_title{
    font-size:2rem;
    color:white;
    padding:1rem 0 1rem 0;
}
.cohort_pictures_div{
    background-color:#ffffff;
    color:black;
}
.cohort_pic{
    text-align: center;
    margin-top:5px;
}
.cohort_pic > img{
    height:15rem;
}
.cohort_names{
    font-size:2rem;
}
.cohort_text_left{
    display:inline-block;
    text-align:left;
    width:90%;
}

.extra_footer{
    display:block;
    height:2rem;
    width:100%;
    background-color:#7A1501;
}


/* end cohort page */


/* begin team page */


#nav_background{
    background-color:#7A1501;
}

.team_nav_div li{
    font-size: 1.4rem;
    display:inline-block;
    height:78%;
    margin:0;
    padding:0;
    position:relative;
    top:.5rem;
}
.team_nav_div li a span{
    position:relative;
    top:1.5rem;
}

.team_nav_div li:nth-child(1){
    width:12%;
}
.team_nav_div li:nth-child(2){
    width:14%;
}
.team_nav_div li:nth-child(3){
    width:19%;
}
.team_nav_div li:nth-child(4){
    width:14%;
}
.team_nav_div li:nth-child(5){
    width:10%;
}
.team_nav_div li:nth-child(6){
    width:14%;
}
.added_signup{
    width:12%;
    background-color: #F9DA0C;
}
.team_signup{
    display: none;
}

#contact_header nav ul li a{
    text-decoration: none;
    color:black;
    text-transform: uppercase;
    font-family: sans-serif;
    display: block;
    height:100%;
    width:100%;
}

.team_nav_div{
    background-color:white;
    width:65rem;
    height:6rem;
    float: right;
    display:inline-block;
    
}


#the_team_div{
    float:none;
    width:100%;
}

#the_team{
    width:auto;
    float:none;
}


.team_image{
    position:absolute;
    top:0rem;
    right:-1rem;
    float:right;
    width:37rem;
    z-index: -1;
}

.team_signup{
    position:absolute;
    top:-10rem;
    transform: translateX(-11rem);
}
.team_text{
    width:100%;
}
.team_text p{
    text-align: center;
}

.team_footer{
    background-color:#7A1501;
    height:auto;
}

#pictures_div{
    display:inline-block;
    margin:0 auto;
    width:100%;
}

#pictures_div p{
    display:inline-block;
    width:25%;
    float:left;
    text-align: center;
    
}

.pictures img{
    width: auto;
}

.span_font{
    font-size: 1.1rem;
    display: block;
    width:100%;
    text-align: center;
    text-transform: uppercase;
    color:black;
    font-weight: 600;
}


/* start media query for team page */

@media only screen and (max-width:930px){
    
    #margin_top{
        margin:2rem;
        margin-top:-8rem;
    }
    .team_nav_div{
        display: block;
        margin:0 auto;
        height:40rem;
        width:100%;
    }  
    
    .team_nav_div li:nth-child(1){
        width:100%;
    }
    .team_nav_div li:nth-child(2){
        width:100%;
    }
    .team_nav_div li:nth-child(3){
        width:100%;
    }
    .team_nav_div li:nth-child(4){
        width:100%;
    }
    .team_nav_div li:nth-child(5){
        width:100%;
    }
    .team_nav_div li:nth-child(6){
        width:100%;
    }
    .team_nav_div li:nth-child(7){
        display:none;
    }
    .team_body > div{
        margin:0;
        padding:0;
        
    }
    .team_signup{
        display:block;
        position:absolute;
        top:6rem;
        left:8rem;
    }
    
    .main{
        display:block;
        width:100%;
    }
    #main_div{
        display:block;
        margin:0 auto;
        width:100%;
    }
    .team_image{
        display:none;
    }
    #the_team_div{
        width:100%;
    }
    .team_footer{
        height:auto;
        background-color:#7A1501;
    }
#pictures_div p{
    display:block;
    margin:0 auto;
    width:100%;
    text-align: center;
}

.pictures img{
    width: auto;
    display:inline-block;
    
}

.span_font{
    font-size: 1.1rem;
    display: block;
    width:100%;
    text-align: center;
    text-transform: uppercase;
    color:black;
    font-weight: 600;
}


    label{
        display: block;
        margin:0 auto;
        height:15rem;
        width:50%;
        float: right;
    }
    .team_nav_div{
        display:none;
    }
    #bars:hover{
        background-color:grey;
    }
    input:checked + div{
        display: block;
    }
    
    
}

/* end media query for team page */

/* end team page */


/* start contact page */
.contact_header{
    background-color:#7A1501;
}
.header_color{
    background-color:#7A1501;
    height:7rem;
}

.added_signup a span{
    
    color:#7A1501;
}
.contact_active{
    color:#F9DA0C;
}

.contact_nav{
    width:60rem;
}

.active2{
    color:#F9DA0C;
}
.contact_hover{
    position: relative;
    top:2.5rem;
}
.contact_hover:hover{
    color:#F9DA0C;
}

#contact_image{
    background-image: url(http://i.imgur.com/0J7qpk8.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    width:100%;
    height:100%;
    margin:0 auto;
    padding:0;
}

#contact_div{
    display: inline-block;
    height:25rem;
    width:18rem;
    position:relative;
    top:20rem;
    left:2rem;
    background-color:white;
}

#bitwise{
    display:inline-block;
}
.contact_info{
    display:inline-block;
    font-size: 2rem;
    width:100%;
    text-align:center;
    font-size:1rem;
    line-height:4rem;
}

.dif_color{
    color:#7A1501;
}

.email{
    font-size:.8rem;
}
.signup_link{
    font-family: sans-serif;
    font-size:1.4rem;
    float:right;
    text-decoration: none;
    color:#7A1501;
    width:8rem;
    height:5rem;
    background-color:#F9DA0C;
    position:relative;
    bottom:7rem;
    right:5rem;
    text-transform: uppercase;
}

.signup_link span{
    position:relative;
    top:1.5rem;
}

#info_hidden{
    display:block;
}


/*end of contact page*/

/* start of sign up page */

.signup_main{
    width:100%;
    height:auto;
    background-color:#7A1501;
    margin:0 auto;
    display:block;
    text-align: center;
}
#signup_signup{
    display:inline-block;
    width:7rem;
    height:3rem;
    background-color:#F9DA0C;
    text-decoration: none;
    color:#7A1501;
    font-size:1.5rem;
    text-transform:uppercase;
    position:relative;
    top:1.5rem;
}
#signup_signup span{
    position:absolute;
    top:.5rem;
    transform:translateX(-3.5rem);
    width:100%;
}

.course{
    height:auto;
    width:25%;
    display:inline-block;
    background-color:white;
    font-size:2rem;
    
}

.course ul{
    list-style:none;
    padding:0;
    display:inline-block;
    width:90%
    
}
.course ul li{
    
}
.padding{
    padding:1rem 0 1rem 0;
}
.data{
    width:100%;
    display:inline-block;
}
.font_bold{
    font-weight: 600;
    font-size:3rem;
    text-align:center;
    padding:1rem 0 1rem 0;
}
.days{
    font-size:1.2rem;
    border-bottom:2px dotted grey;
}

#signup_footer{
    height:2rem;
}

/* start media query for sign up page */

@media only screen and (max-width:930px){
    
    .course{
    width:100%;        
}
    .signup_main{
        height:auto;
    }
    
    
    
}





/* end media query for sign up page */


/* end of sign up page */


